.calendar {
    width: 300px;
    margin: 20px auto;
    text-align: center;
}

.prev, .next {
    background-color: #f4f4f4;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    vertical-align: middle;
}

#month-year {
    display: inline-block;
    margin: 0 20px;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 20px;
}

.day-header {
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
}

.day {
    padding: 10px;
    border: 1px solid #ccc;
}

.day:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

#modal {
    display: none;
    position: fixed;
    top: 25%;
    left: 80%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.modal-content {
    padding: 20px;
    background-color: #fefefe;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
}

.modal-content textarea {
    width: calc(100% - 40px); 
    height: 100px; 
    margin-bottom: 10px; 
}

.modal-buttons {
    text-align: right;
    margin-top: 10px;
}

.modal-buttons button {
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.close {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 3px;
}

.memo {
    background-color: #aab9ff; 
}